body{
   text-align: center;
   font-size: 60px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
   text-align: center;
   font: size 60px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.imagenDePortada{
   width: 500px;
}
